<div ng-controller="MainController">
	<div>Cors Page</div>

	<div><a href="#/">HOME</a></div>
	
	<div>
		<div id="firstArea">This is the Control for the first area</div>
		<div id="secondArea">This is the Control for the second area</div>
		<div id="thirdArea">This is the Control for the third area</div>
	</div>
	<div>
		<div class="galleryList" >
			<table class="gallery">	  
			  <tbody>
				<tr>
				  <td>
						<div>Sports</div>
						<div>Met Life Stadium</div>
						<div>06 December 2015</div>
						<div class="picContainer" >
							<img src="/assets/img/cors/Wachen_Missed_Giants_OT_fieldGoal.JPG"/>
						</div>
				  </td>
				</tr>
				<tr>
				  <td>
						<div>Vacation</div>
						<div>Jayuya</div>
						<div>02 Feb 2009</div>
						<div class="picContainer" >
							<img src="/assets/img/cors/jayuya.jpg"/>
						</div>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<script> 

$optXYZ={
	myData:{},
	getAJAX:function(pUrl, pCallback) {
		var xmlhttp;
		// create the request
		xmlhttp = window.XMLHttpRequest?new XMLHttpRequest(): new ActiveXObject("Microsoft.XMLHTTP");
		// callback to update specified div
		xmlhttp.onreadystatechange = function () {
			if (xmlhttp.readyState == 4) {
				// alert ("x updating: " + pDivId + "\nURL: "+pUrl+"\nstatus: " + xmlhttp.status);
				$optXYZ.myData = JSON.parse(xmlhttp.responseText);
				if(typeof(pCallback)==="function")pCallback($optXYZ.myData);
			}
		}
		// submit request
		xmlhttp.open("get", pUrl);
		xmlhttp.send(null);
	},
	evaluateData:function(obj){
		switch(typeof(obj.selector)){
			case 'object':
				break;
			case 'string':
				if(typeof(obj.content)==="string"){
					jQuery(obj.selector).html(obj.content)
				}
				break;
			default:
		}
		optimost.SC(obj.ckname, obj.ckval, obj.time, optimost.SLD() );
	},
	myQs:''
}
optimost.I();
for (var n in optimost.C)if (n.substring(0, 2) == "op") 
	$optXYZ.myQs += ($optXYZ.myQs.length > 0 ? "&" : "?") + n + "=" + escape(optimost.C[n]);
$optXYZ.getAJAX('http://by.marketinghub.hp.com/trial/1649/p/corsexperiment-txt/23/content.txt'+$optXYZ.myQs, $optXYZ.evaluateData);




</script>
















