<div ng-controller="MainController">
	<div>Gallery Page</div>
	<a href="#/view1">View 1</a>
	<a href="#/view2">View 2</a>
	<div><a href="#/audio">Audio</a></div>
	
	<div>
		<form name="searchUser" ng-submit="search(username)">
		  <input type="search" placeholder="Photo Gallery to find" ng-model="username" />
		  <input type="submit" value="Search" />

		</form>
		<img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}" /> Order:
		<select ng-model="repoSortOrder">
			<option value="+event">Event</option>
			<option value="+location">Location</option>
			<option value="+date">Date</option>
		</select>
	</div>		
	<div>
		<div class="galleryList" ng-repeat="repo in repos | filter:username | orderBy:repoSortOrder">
			<table class="gallery">	  
			  <tbody>
				<tr>
				  <td>
						<div>{{repo.event}}</div>
						<div>{{repo.location}}</div>
						<div>{{repo.date}}</div>
						<div class="picContainer" ng-repeat="pics in repo.picturesObj" ng-if="$index==0">
							<a href="#/gallery/{{repo.id}}" ng-click="selectedGallery(repo.id);" ><img ng-src="{{pics.url}}"/></a> 
						</div>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>