<div ng-controller="MainController">
	<a href="#/">Back to the Master Gallery</a>
	<div>Graphs</div>
	
	
    <h1>{{googleGraphs}}</h1>

    <div>{{error}}</div>

    <div id="jrTest"></div>
	

	<div id="graphsContainerBody">Graph stuff will go here later
	</div>
	<div>

		<script type="text/javascript" src="/assets/js/hook.directive.js"></script>
		<script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="/assets/js/googleGraphsTesting.js"></script>
<script>
/*
(function() {
    var n = document.createElement("script");
    n.src = 'https://www.gstatic.com/charts/loader.js';
    var b = document.getElementsByTagName("head")[0];
    b.parentNode.insertBefore(n, b);

})();	
*/
</script>	
	</div>
	</div>