<div ng-controller="teamSchedule" class="teamScheduleView">
	<a href="#/">Back to the Master Gallery</a>
	
	<ul class="step-progress-bar">
		<li ng-class="{'active':(1 == $progressbar.activeItem), 'processed':(1 < $progressbar.activeItem )}" 
			_title="Pick an Airport" ng-href="#/sportsAffiliationREV" class="" ng-click="goToView('/sportsAffiliationREV')">
			<div class="progressbarcont">
				<span class="step-number">1</span> 
				<span class="step-title">Pick an Airport</span>
				<a ng-click="doInfoToggle(1);" ng-href="" ng-class="{'opShow':(1 == $progressbar.activeItem), 'opHide':(1 != $progressbar.activeItem )}" 
				ng-mouseover="pageInfo(1, true)" ng-mouseleave="pageInfo(1, false)">&nbsp;&nbsp;&nbsp;
				<span ng-class="{'showArrow':(true == pickAirportHover),'hideArrow':(false == pickAirportHover)}" class="opT3Triangle"></span>
				<span  ng-class="{'showHover':(true == pickAirportHover),'hideHover':(false == pickAirportHover)}">
				We have a list of the 141 largest airports in the USA, 
				and the professional teams that are most popular at that location.  
				Enter the airport code, we will use auto-complete to expedite the process.
				</span></a>
			</div>
		</li>
		<li ng-class="{'active':(2 == $progressbar.activeItem), 'processed':(2 < $progressbar.activeItem )}" 
			_title="Pick an Team" ng-href="#/teamSelectREV" class="" ng-click="goToView('/teamSelectREV')">
			<div class="progressbarcont">
				<span class="step-number">2</span> 
				<span class="step-title">Pick a Team</span>
				<a ng-click="doInfoToggle(2);" ng-class="{'opShow':(2 == $progressbar.activeItem), 'opHide':(2 != $progressbar.activeItem )}" 
				ng-mouseover="pageInfo(2, true)" ng-mouseleave="pageInfo(2, false)" >&nbsp;&nbsp;&nbsp;
				<span ng-class="{'showArrow':(true == pickTeamHover),'hideArrow':(false == pickTeamHover)}" class="opT3Triangle"></span>
				<span ng-class="{'showHover':(true == pickTeamHover),'hideHover':(false == pickTeamHover)}">
				We have compiled a list of popular teams for your airport selection.
				Select a team to see its schedule.
				</span></a>
			</div>
		</li>
		<li ng-class="{'active':(3 == $progressbar.activeItem), 'processed':(3 < $progressbar.activeItem )}" 
			_title="Team Schedule" ng-href="#/teamScheduleREV" class="" ng-click="goToView('/teamScheduleREV')">
			<div class="progressbarcont">
				<span class="step-number">3</span> 
				<span class="step-title">Schedule</span>
				<a ng-click="doInfoToggle(3);" ng-class="{'opShow':(3 == $progressbar.activeItem), 'opHide':(3 != $progressbar.activeItem )}" 
				ng-mouseover="pageInfo(3, true)" ng-mouseleave="pageInfo(3, false)">&nbsp;&nbsp;&nbsp;
				<span ng-class="{'showArrow':(true == showScheduleHover),'hideArrow':(false == showScheduleHover)}" class="opT3Triangle"></span>
				<span ng-class="{'showHover':(true == showScheduleHover),'hideHover':(false == showScheduleHover)}" >
				We have provided you with a schedule for the {{myTeam}}.  You can select an opponent to filter the schedule
				</span></a>
			</div>
		</li>
	</ul>		
	<!--
	<div class="listArea">
		<div class="galleryList" ng-repeat="airports in airportToSportsInfo | filter:airport" ng-if="noAirportMatchesReturned===false">
			<div class="picContainer" ng-repeat="locs in airports.location" ng-if="locs==airport">
				<table class="gallery">	  
					<tbody>
						<tr>
							<td class="teamsContainer" ng-repeat="team in airports.teams" ng-if="locs==airport | uppercase">
								<div class="entity">{{team.entity}}</div>
								<div class="team">{{team.name}}</div>
								<div ng-if="team.feed"><a href="" ng-click="scheduleSearch(team.name, team.entity)"><img ng-src="{{team.url}}" ng-style="{'width': '30px'}" /></a></div>
								<div ng-if="!team.feed"><img ng-src="{{team.url}}" ng-style="{'width': '30px'}" /></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="galleryList" ng-if="sportsInfoToAirports.length && !noAirportMatchesReturned">
			<div class="picContainer">
				<table class="gallery">	  
					<tbody>
						<tr>
							<td class="teamsContainer" ng-repeat="airports in sportsInfoToAirports" ng-if="noAirportMatchesReturned===false">
								
									<div class="entity">{{airports.entity}}</div>
									<div class="team">{{airports.name}}</div>
									<div ng-if="airports.feed"><a href="" ng-click="scheduleSearch(airports.name, airports.entity)"><img ng-src="{{airports.url}}" ng-style="{'width': '30px'}" /></a></div>
									<div ng-if="!airports.feed"><img ng-src="{{airports.url}}" ng-style="{'width': '30px'}" /></div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		-->
		<!--
		<div ng-if="noAirportMatchesReturned===true" class="noMatches">
			We do not have an airport match, please enter another Airport.
		</div>
		-->
		<hr ng-if="nbaSchedule.length>0" />
		<div class="galleryList" ng-if="nbaSchedule.length>0">
			<div class="opponentSelect">
				<div class="myTeam" ng-if="myTeamOpponent==''">Here are the opponents for the {{myTeam}}.</div>
				<div class="myTeam" ng-if="myTeamOpponent!=''">Here are the games between the {{myTeam}} and the {{myTeamOpponent}}.</div>
				<select ng-model="myNBAopponent" ng-options="c.team for c in opponentsList | orderBy:'value'" 
				ng-change="updateTeamNBA(this)" ng-if="nbaSchedule.length>0"></select>
			</div>
			<div class="nba"></div>
			<table class="gallery">	  
				<tbody>
<!--					<tr ng-repeat="teams in nbaSchedule |filter:myTeam">  -->
					<tr ng-repeat="teams in nbaSchedule |filter:myTeamOpponent"> 
						<td class="teamsContainer">
							<div class="entity">{{teams.visiting}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">VS.</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">{{teams.home}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">At the {{teams.arena}} in {{teams.location}}</div>
						</td>	
						<td class="teamsContainer">
							<div class="entity">On {{teams.date}} @ {{teams.time}}</div>
						</td>		
					</tr>
				</tbody>
			</table>
		</div>		

		<hr ng-if="mlbSchedule.length>0" />		
		<div class="galleryList" ng-if="mlbSchedule.length>0">
			<div class="opponentSelect">
				<div class="myTeam" ng-if="myTeamOpponent==''">Here are the opponents for the {{myTeam}}.</div>
				<div class="myTeam" ng-if="myTeamOpponent!=''">Here are the games between the {{myTeam}} and the {{myTeamOpponent}}.</div>
				<select ng-model="myMLBopponent" ng-options="c.team for c in opponentsList | orderBy:'value'" 
				ng-change="updateTeamMLB(this)" ng-if="mlbSchedule.length>0"></select>
			</div>
			<div class="mlb"></div>
			<table class="gallery">	  
				<tbody>	
					<!-- <tr ng-repeat="teams in mlbSchedule |filter:myTeam"> 	-->			
					<tr ng-repeat="teams in mlbSchedule |filter:myTeamOpponent"> 
						<td class="teamsContainer">
							<div class="entity">{{teams.visiting}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">VS.</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">{{teams.home}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">At the {{teams.arena}} in {{teams.location}}</div>
						</td>	
						<td class="teamsContainer">
							<div class="entity">On {{teams.date}} @ {{teams.time}}</div>
						</td>		
					</tr>
				</tbody>
			</table>
		</div>		

		<hr ng-if="nhlSchedule.length>0" />		
		<div class="galleryList" ng-if="nhlSchedule.length>0">
			<div class="opponentSelect">
				<div class="myTeam" ng-if="myTeamOpponent==''">Here are the opponents for the {{myTeam}}.</div>
				<div class="myTeam" ng-if="myTeamOpponent!=''">Here are the games between the {{myTeam}} and the {{myTeamOpponent}}.</div>
				<select ng-model="myNHLopponent" ng-options="c.team for c in opponentsList | orderBy:'value'" 
				ng-change="updateTeamNHL(this)" ng-if="nhlSchedule.length>0"></select>
			</div>
			<div class="nhl"></div>
			<table class="gallery">	  
				<tbody>	
					<!-- <tr ng-repeat="teams in nhlSchedule |filter:myTeam"> -->
					<tr ng-repeat="teams in nhlSchedule |filter:myTeamOpponent"> 
						<td class="teamsContainer">
							<div class="entity">{{teams.visiting}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">VS.</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">{{teams.home}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">At the {{teams.arena}}</div>
						</td>	
						<td class="teamsContainer">
							<div class="entity">On {{teams.date}}</div>
						</td>		
					</tr>
				</tbody>
			</table>
		</div>	
		
		<hr ng-if="nflSchedule.length>0" />		
		<div class="galleryList" ng-if="nflSchedule.length>0">
			<div class="opponentSelect">
				<div class="myTeam" ng-if="myTeamOpponent==''">Here are the opponents for the {{myTeam}}.</div>
				<div class="myTeam" ng-if="myTeamOpponent!=''">Here are the games between the {{myTeam}} and the {{myTeamOpponent}}.</div>
				<select ng-model="myNFLopponent" ng-options="c.team for c in opponentsList | orderBy:'value'" 
				ng-change="updateTeamNFL(this)" ng-if="nflSchedule.length>0"></select>
			</div>
			<div class="nfl"></div>
			<table class="gallery">	  
				<tbody>	
					<!-- <tr ng-repeat="teams in nflSchedule |filter:myTeam"> -->
					<tr ng-repeat="teams in nflSchedule |filter:myTeamOpponent"> 
						<td class="teamsContainer">
							<div class="entity">{{teams.visiting}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">VS.</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">{{teams.home}}</div>
						</td>
						<td class="teamsContainer">
							<div class="entity">At the {{teams.arena}}</div>
						</td>	
						<td class="teamsContainer">
							<div class="entity">On {{teams.date}}</div>
						</td>		
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>