<div ng-controller="MainController">
	<a href="#/view1">View 1</a>
	<div>View 2</div>
	<div><a href="#/">HOME</a></div>
	<div><a href="#/gallery">Gallery</a></div>	
	
    <h1>{{message}}</h1>

    <div>{{error}}</div>

    {{countdown}}
    <form name="searchUser" ng-submit="search(username)">
      <input type="search" placeholder="Photo Gallery to find" ng-model="username" />
      <input type="submit" value="Search" />

    </form>
	<img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}" /> Order:
	  <select ng-model="repoSortOrder">
		<option value="+event">Event</option>
		<option value="+location">Location</option>
		<option value="+date">Date</option>
	  </select>

	<table class="gallery">
	  <thead>
		<tr>
		  <th>Activity</th>
		  <th>Location</th>
		  <th>Date</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="repo in repos | filter:username | orderBy:repoSortOrder">
		  <td class="galleryLabel">{{repo.event}}</td>
		  <td class="galleryLabel">{{repo.location}}</td>
		  <td class="galleryLabel">{{repo.date}}</td>
		  <td>
				<!-- <div class="picContainer" ng-repeat="pics in repo.picturesObj | filter:username"> -->
				<div class="picContainer" ng-repeat="pics in repo.picturesObj">
					<div>{{pics.name}}</div>
					<a href="" ><img ng-src="{{pics.url}}" ng-click="popImage($event)" /></a> 
				</div>
		  </td>
		</tr>
	  </tbody>
	</table>

    <a href="#/view1">View 1</a>
</div>