<div ng-controller="MainController">
	<a href="#/">Back to the Master Gallery</a>

	<div>Choice Hotels test funnel Example</div>
	
	<hr/><div><a href="#/ChoiceHotels/ListView">Hotel List - List View (search results listed)</a></div><hr/>
	
	<div><a href="#/ChoiceHotels/Home">HOME PAGE</a></div>
	<div><a href="#/ChoiceHotels/HotelInfo">Hotel Info - Home (for "clicked" hotel)</a></div>
	<div><a href="#/ChoiceHotels/Availability">Availability</a></div>
	<div><a href="#/ChoiceHotels/GuestData">Guest Data (To fill out after selection)</a></div>
	

</div>
<script>
window.opPageId="Hotel List - List View";
window.opViewPort="desktop";
</script>